<html>
	<head>
		<link href = "../static/css/custom.css" rel="stylesheet" type="text/css">
		<title>DDOS Protect</title>
		<script type="text/javascript">
			function do_ajax_ADD(){
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function(){
					if(this.readyState == 4 && this.status == 200){
						document.getElementById('result').innerHTML = "Success ADD IP Ban";
						document.getElementById('iplist').innerHTML = this.responseText;
					} else{
						document.getElementById('result').innerHTML = "Error";
					}
				}

				xhttp.open('POST', '/', true);
				xhttp.setRequestHeader('content-type', 'application/x-www-form-urlencoded');
				xhttp.send("ip_black=" + "A"+document.getElementById('ip_black').value);
			}
			function ValidateIPaddress_ADD(inputText) {
    			var ipformat = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
    			if (inputText.value.match(ipformat)) {
        			do_ajax_ADD();
    			} else {
        			alert("입력하신 값은 IP형식이 아닙니다.");
        			return;
    			}
			}

			function do_ajax_DEL(){
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function(){
					if(this.readyState == 4 && this.status == 200){
						document.getElementById('result').innerHTML = "Success Remove IP Ban";
						document.getElementById('iplist').innerHTML = this.responseText;
					} else{
						document.getElementById('result').innerHTML = "Error";
					}
				}

				xhttp.open('POST', '/', true);
				xhttp.setRequestHeader('content-type', 'application/x-www-form-urlencoded');
				xhttp.send("ip_black=" + "D"+document.getElementById('ip_black').value);
			}
			function ValidateIPaddress_DEL(inputText) {
    			var ipformat = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
    			if (inputText.value.match(ipformat)) {
        			do_ajax_DEL();
    			} else {
        			alert("입력하신 값은 IP형식이 아닙니다.");
        			return;
    			}
			}
		</script>
	</head>
	<body>

		<div class ="row">
			<h2 align="center"> DDOS Protection </h2>
		</div>

		<form onsubmit="return false;" name="ipaddress" action="/" method="post">
			<input type="text" placeholder="Input IPv4 Address" , id="ip_black" value=""/>
			<button class="button gray" type="button", id="ip-add", onclick="ValidateIPaddress_ADD(document.ipaddress.ip_black);">ip-ban</button>
			<button class="button gray" type="button", id="ip-del", onclick="ValidateIPaddress_DEL(document.ipaddress.ip_black);">ip-ban-remove</button>
			<div style="font-weight:bold; font-size:1.0em;" id="result"></div>
			<br>
			<br>
			<br>
			<div class = "box" style="margin-left:10px; font-weight:bold; font-size:1.0em; line-height:1.0em; overflow:auto; width:200px; height: 700px; test-align: center;" id="iplist"></div>
		</form>

		<div style ="position:fixed; right:0px; bottom:0px;">
			<iframe name="iframe1" id="iframe1" src="/log" height="900" width="900" allowTransparency='true' frameborder=0 framespacing=0 marginheight=0 marginwidth=0 scrolling="auto" vspace=0><iframe>
		</div>
	</body>
</html>
